@import "general.css";

/* End of General Styles */
html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: relative;
    background: linear-gradient(0deg, 0deg, #f3f3f3), url();
}

#wrapper.auth {
    margin: 60px auto 80px;
    position: relative;
    background: #fff;
    width: 300px;
}

/* Header Style */
#wrapper.auth header {
    text-align: center;
    background: transparent !important;
    border: none !important;
    padding: 5px;
}

#wrapper.auth header h1 {
    border: 1px solid var(--primaryBlack);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: block;
    position: relative;
    margin: auto;
    overflow: hidden;
    cursor: pointer;
}

#wrapper.auth header h1:hover, #wrapper header h1:hover > span {
    background: var(--primaryBlack);
    color: var(--primaryWhite);
    border: 1px solid var(--primaryBlack);
}

#wrapper.auth header h1 span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    color: var(--primaryWhite);
}
/* End of Header Style */

/* Footer Style */
footer {
    text-align: center;
    padding: 5px 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #eee;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.103);
}

/* End of Footer Style */

/* Container Styles */
#wrapper.auth .container {
    padding: 10px;
    display: none;
}

#wrapper.auth .container form {
    position: relative;
    padding: 0 5px;
}

#wrapper.auth .container form .loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#wrapper.auth .container form .loader .spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#wrapper.auth .container form button:disabled {
    background: #ccc;
    border: #ccc;
    color: #eee;
    cursor: not-allowed;
}

#wrapper.auth .container form .message {
    padding: 10px;
    font-size: small;
}

#wrapper.auth .container form .message.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

#wrapper.auth .container form .message.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

#wrapper.auth .container#index {
    display: block;
    text-align: center;
}

#wrapper.auth .container:target {
    display: block;
    -webkit-transition: 1s;
       -moz-transition: 1s;
        -ms-transition: 1s;
         -o-transition: 1s;
            transition: 1s;
}

#wrapper.auth .container p {
    text-align: center;
}

@media only screen and (max-width: 340px) {
    #wrapper.auth {
        width: 95%;
    }
}